.cartContainer {
  height: auto; 
  padding-left: 3rem; 
  padding-right: 3rem; 
  padding-bottom: 5rem; 
}

.itemContainer {
  display: flex; 
  flex-direction: column; 
  gap: 2rem; 
}

.title {
  color: green;
  font-size: 1.5rem;  
}

.cartItem {
  border: 1px solid black; 
  display: flex; 
  flex-direction: column; 
  padding: 1rem; 
  border-radius: 1rem; 
  gap: 0.5rem; 
}

.cartItem > p {
  padding: 0; 
  margin: 0; 
}

.removeButton {
  width: 5rem; 
  height: 2rem;  
  color: white; 
  border: none; 
  cursor: pointer; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
