.navbar {
  height: 10%;
  display: flex;
  justify-content: space-between; 
  
  padding: 2rem 3rem 2rem 3rem; 
  box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.71);
-webkit-box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.71);
}

.img {
  height: 100%; 
  width: auto; 
}
.img:hover {
  cursor: pointer; 
}

.linkContainer{
  display: flex; 
  align-items: center; 
  gap: 1rem; 
  font-size: 1.5rem; 
}
.link:hover {
  cursor: pointer; 
}

.button {
  height: 1rem; 
  width: 1rem; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 0.15rem solid black; 
  padding: 1rem; 
  border-radius: 2rem; 
}